[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sajal-sroy
[access "refs/for/refs/*"]
	read = group user/sajal-sroy
	push = group user/sajal-sroy
	label-Code-Review = -2..+2 group user/sajal-sroy
	label-Verified = -1..+1 group user/sajal-sroy
	rebase = group user/sajal-sroy
	removeReviewer = group user/sajal-sroy
	submit = group user/sajal-sroy
[access "refs/heads/*"]
	read = group user/sajal-sroy
	create = group user/sajal-sroy
	push = +force group user/sajal-sroy
	pushMerge = group user/sajal-sroy
[access "refs/tags/*"]
	push = group user/sajal-sroy
	push = +force group user/sajal-sroy
